// babel.config is can also be used for the same purpose
// with options
//commented for development when building production uncomment it
{
    //"plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]]
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ]
}