body {
    background-color: sandybrown;
}
#container {
    background-color: rebeccapurple;
    color: antiquewhite;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid blueviolet;
    padding: 10px;
}
.logo {
    width: 65px;
    height: 65px;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li {
    padding: 10px;

}
.card{
    width: 200px;
    border: 1px solid aqua;
    margin: 10px;
}
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}
.card-image {
    width: 70px;
    height: 70px;
    margin: 10px;
}